html,
* {
  line-height: 2;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* font used in unwind project */
@font-face {
  font-family: "Nunito";
  src: url(fonts/Nunito-VariableFont.ttf) format("truetype");
}

/* font used in meditation project */
@font-face {
  font-family: "RozhaOne";
  src: url(fonts/RozhaOne-Regular.ttf) format("truetype");
}

p {
  margin: 0px 200px 0px 200px;
}
h1,
h2,
h3 {
  text-align: left;

  margin: 0px 200px 0px 200px;
}

.ul,
.ol,
.li {
  text-align: left;
  margin: 0px 200px 0px 220px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

img {
  margin-top: 10px;
  margin-bottom: 10px;
}

.project-button {
  margin-right: 50px;
  height: 300px;
  width: 400px;
  border-radius: 8px;
  border-color: white;
}

.installation-button {
  margin-right: 50px;
  height: 300px;
  width: 400px;
  border-radius: 8px;
  border-color: white;
  background-image: linear-gradient(to bottom right, #fcd5ce, #fff8c2);
}

.pc-button {
  margin-right: 50px;
  height: 300px;
  width: 400px;
  border-radius: 8px;
  border-color: white;
}

.project-container {
  display: flex;
  margin: 100px 0px 0px 300px;
}

.connection-section {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

.img-container {
  display: flex;
  margin: 10px 200px 0px 200px;
}

/* -------------------- Grids --------------------  */
#grid {
  display: grid;
  margin: 0px 200px 0px 200px;
  grid-template-columns: 0.5fr 0.5fr;
  grid-template-rows: auto auto;
  grid-column-gap: 100px;
}

#aboutme-grid {
  display: grid;
  margin: 0px 100px 0px 200px; 
  grid-template-columns: 0.1fr 0.9fr;
  grid-template-rows: auto auto;
  grid-column-gap: 10px;
}

/* -------------------- about.html css --------------------  */

/* h1 {
  text-align: left;
  margin: 50px 0px 20px 300px;
} */
h2.about-h2 {
  text-align: left;
  margin: 50px 0px 20px 300px;
}

h3.about-h3 {
  text-align: left;
  margin: 50px 0px 20px 300px;
}

table.style,
table.style th,
table.style td {
  border: 1px solid black;
  margin-left: 360px;
  background-color: #f8edeb;
  text-align: left;
}

.rectangle {
  height: 400px;
  width: 200px;
  background-color: #555;
}

/* ------------------ Modals ------------------ */
#myImg {
  cursor: pointer;
  transition: 0.3s;
}

#myImg:hover {
  opacity: 0.7;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Caption of Modal Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation */
.modal-content,
#caption {
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {
    -webkit-transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
  }
}

@keyframes zoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px) {
  .modal-content {
    width: 100%;
  }
}

/* --------------------- Navbar & Navbar Dropdown --------------------- */

/* Navbar container */
.navbar {
  overflow: hidden;
  background-color: pink;
  font-family: Arial;
}

/* Links inside the navbar */
.navbar a {
  float: left;
  font-size: 16px;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: black;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

/* Add a red background color to navbar links on hover */
.navbar a:hover,
.dropdown:hover .dropbtn {
  background-color: white;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}
