html,
* {
  line-height: 2;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Extra large devices (large desktops, 1200px and up) */
@media screen and (min-width: 1920px) {
  body {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  p {
    margin: 0px 400px 0px 400px;
  }
  h1,
  h2,
  h3 {
    margin-left: 400px;
  }
  .meditation-button {
    height: 300px;
    width: 100%;
    border-color: white;
  }
  .installation-button {
    height: 300px;
    width: 100%;
    border-color: white;
    background-image: linear-gradient(to bottom right, #fcd5ce, #fff8c2);
  }
  #button {
    display: grid;
    margin: 0px 400px 0px 400px;
    grid-template-columns: 0.5fr 0.5fr;
    grid-template-rows: auto auto;
    grid-column-gap: 10px;
    border: 0.5px solid pink;
  }
  #aboutme-grid {
    display: grid;
    margin: 0px 400px 0px 400px;
    grid-template-columns: 0.2fr 0.8fr;
    grid-template-rows: auto auto;
    grid-column-gap: 100px;
  }
  #game-grid {
    display: grid;
    margin: 0px 400px 0px 400px;
    grid-template-columns: 0.5fr 0.5fr;
    grid-template-rows: auto;
    grid-column-gap: 100px;
  }
  .aboutme-img-container {
    display: flex;
    margin: 10px 300px 0px 300px; /* top, right, bottom, left */
    overflow: auto;
  }
}

/* Large devices (desktops, 992px and up) */
@media screen and (min-width: 992px) and (max-width: 1919px) {
  body {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  p {
    margin: 0px 300px 0px 300px;
  }
  h1,
  h2,
  h3 {
    margin-left: 300px;
  }
  .meditation-button {
    height: 300px;
    width: 100%;
    border-color: white;
  }
  .installation-button {
    height: 300px;
    width: 100%;
    border-color: white;
    background-image: linear-gradient(to bottom right, #fcd5ce, #fff8c2);
  }
  #button {
    display: grid;
    margin: 0px 300px 0px 300px;
    grid-template-columns: 0.5fr 0.5fr;
    grid-template-rows: auto auto;
    grid-column-gap: 10px;
    border: 0.5px solid pink;
  }
  /* <!-- ----------------------- About Me Page ---------------------------- --> */
  #aboutme-grid {
    display: grid;
    margin: 0px 100px 0px 200px;
    grid-template-columns: 0.1fr 0.9fr;
    grid-template-rows: auto auto;
    grid-column-gap: 10px;
  }
  #game-grid {
    display: grid;
    margin: 0px 300px 0px 340px;
    grid-template-columns: 0.6fr 0.4fr;
    grid-template-rows: auto auto;
    grid-column-gap: 10px;
  }
  .aboutme-img-container {
    display: flex;
    margin: 10px 200px 0px 200px; /* top, right, bottom, left */
    overflow: auto;
  }
}

/* Medium devices (tablets, 768px and up) */
@media screen and (min-width: 390px) and (max-width: 768px) {
  body {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  p {
    margin: 0px 20px 0px 20px;
  }
  h1,
  h2,
  h3 {
    margin: 0px 10px 0px 10px;
  }
  .meditation-button {
    height: 300px;
    width: 100%;
    border-color: white;
  }
  .installation-button {
    height: 300px;
    width: 100%;
    border-color: white;
    background-image: linear-gradient(to bottom right, #fcd5ce, #fff8c2);
  }
  #button {
    display: grid;
    margin: 0px 20px 0px 20px;
    grid-template-columns: auto;
    grid-column-gap: 50px;
    border: 0.5px solid pink;
  }
  #aboutme-grid {
    display: grid;
    margin: 0px 20px 0px 20px;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-column-gap: 10px;
  }
  #game-grid {
    display: grid;
    margin-left: 40px;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-column-gap: 10px;
  }
  .aboutme-img-container {
    display: flex;
    margin: 10px 20px 0px 40px; /* top, right, bottom, left */
    overflow: auto;
  }
}

/* font used in unwind project */
@font-face {
  font-family: "Nunito";
  src: url(fonts/Nunito-VariableFont.ttf) format("truetype");
}

/* font used in meditation project */
@font-face {
  font-family: "RozhaOne";
  src: url(fonts/RozhaOne-Regular.ttf) format("truetype");
}

.ul,
.ol,
.li {
  text-align: left;
  margin: 0px 200px 0px 220px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

img {
  margin-top: 10px;
  margin-bottom: 10px;
}

.connection-section {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

table.style,
table.style th,
table.style td {
  border: 1px solid black;
  margin-left: 360px;
  background-color: #f8edeb;
  text-align: left;
}

.rectangle {
  height: 400px;
  width: 200px;
  background-color: #555;
}

/* ------------------ Modals ------------------ */
#myImg {
  cursor: pointer;
  transition: 0.3s;
}

#myImg:hover {
  opacity: 0.7;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Caption of Modal Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation */
.modal-content,
#caption {
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {
    -webkit-transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
  }
}

@keyframes zoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px) {
  .modal-content {
    width: 100%;
  }
}

/* --------------------- Navbar & Navbar Dropdown --------------------- */

/* Navbar container */
.navbar {
  overflow: hidden;
  background-color: pink;
  font-family: Arial;
}

/* Links inside the navbar */
.navbar a {
  float: left;
  font-size: 16px;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: black;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

/* Add a red background color to navbar links on hover */
.navbar a:hover,
.dropdown:hover .dropbtn {
  background-color: white;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}
