html,
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Extra large devices (large desktops, 1920px and up) */
@media screen and (min-width: 1920px) {
  p {
    text-align: justify;
    margin: 0px 400px 0px 400px;
  }
  h1 {
    text-align: justify;
    margin-left: 400px;
    margin-right: 400px;
  }
}

/* Large devices (desktops, 992px and up) */
@media screen and (min-width: 992px) and (max-width: 1919px) {
  p {
    text-align: justify;
    margin: 0px 200px 0px 220px;
  }
  h1,
  h2,
  h3 {
    text-align: justify;
    margin-left: 200px;
    margin-right: auto;
  }
  ul,
  li {
    text-align: left;
    margin: 0px 200px 0px 220px;
  }
}
/* Medium devices (tablets, 768px and up) */
@media screen and (min-width: 390px) and (max-width: 768px) {
  p {
    text-align: justify;
    margin: 0px 20px 0px 20px;
  }
  h1,
  h2,
  h3 {
    text-align: justify;
    margin-left: 20px;
    color: #003d52;
  }
  ul,
  li {
    text-align: left;
    margin: 0px 50px 0px 50px;
  }
  #grid {
    display: grid;
    margin-left: 20px;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-column-gap: 100px;
  }
  img {
    width: 95%;
  }
}

ul.installation-ul {
  margin-left: 300px;
  margin-right: 50px;
}

li.installation-li {
  margin: 0px 300px 0px 30px;
}

ol {
  margin: 10px 50px 0px 350px;
}

.installation-a {
  margin-left: 200px;
  margin-right: 200px;
}

.timeline-container {
  display: flex;
}

table.style1,
table.style1 th,
table.style1 td {
  margin-left: 350px;
}

table.style2,
table.style2 th,
table.style2 td {
  border: 1px solid black;
  margin-left: 350px;
  background-color: #f8edeb;
}

#grad1 {
  background-image: linear-gradient(to bottom right, #fcd5ce, #fff8c2);
}

.installation-photos {
  display: flex;
  flex-wrap: wrap;
  margin: 10px 250px 0px 250px;
}

.four-img-container {
  display: flex;
  margin: 10px 400px 0px 300px;
}

.img-container {
  display: flex;
  margin: 10px 300px 0px 300px;
}
