html,
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Extra large devices (large desktops, 1920px and up) */
@media screen and (min-width: 1920px) {
  p {
    text-align: justify;
    margin: 0px 400px 0px 400px;
  }
  h1,
  h2,
  h3 {
    text-align: justify;
    margin-left: 400px;
    color: #003d52;
  }
  ul,
  ol {
    text-align: left;
    margin: 0px 400px 0px 400px;
  }
  #grid {
    display: grid;
    margin: 0px 400px 0px 400px;
    grid-template-columns: 0.5fr 0.5fr;
    grid-template-rows: auto auto;
    grid-column-gap: 100px;
  }
  img {
    width: 60%;
    height: 50%;
  }
  .installation-a {
    display: flex;
    flex-wrap: wrap;
    margin-left: 420px;
  }
  .installation-photos {
    display: flex;
    flex-wrap: wrap;
    margin: 10px 150px 0px 150px;
  }
  .img-container {
    display: flex;
    margin: 10px 200px 0px 200px;
  }
  figcaption {
    text-align: center;
  }
}

/* Large devices (desktops, 992px and up) */
@media screen and (min-width: 992px) and (max-width: 1919px) {
  p {
    text-align: justify;
    margin: 0px 200px 0px 220px;
  }
  h1,
  h2,
  h3 {
    text-align: justify;
    margin-left: 200px;
    color: #003d52;
  }
  ul,
  ol {
    text-align: left;
    margin: 0px 200px 0px 240px;
  }
  #grid {
    display: grid;
    margin: 0px 200px 0px 200px;
    grid-template-columns: 0.5fr 0.5fr;
    grid-template-rows: auto auto;
    grid-column-gap: 100px;
  }
  .installation-a {
    display: flex;
    flex-wrap: wrap;
    margin-left: 220px;
  }
  .installation-photos {
    display: flex;
    flex-wrap: wrap;
    margin: 10px 250px 0px 250px;
  }
  .img-container {
    display: flex;
    margin: 10px 300px 0px 300px;
  }
}
/* Medium devices (tablets, 768px and up) */
@media screen and (min-width: 390px) and (max-width: 768px) {
  p {
    text-align: justify;
    margin: 0px 20px 0px 20px;
  }
  h1,
  h2,
  h3 {
    text-align: justify;
    margin-left: 20px;
    color: #003d52;
  }
  ul,
  ol {
    text-align: left;
    margin: 0px 50px 0px 50px;
  }
  #grid {
    display: grid;
    margin: 0px 20px 0px 20px;
    grid-template-columns: auto;
    grid-column-gap: 50px;
  }
  .lisa-persona {
    width: 50%;
  }
  img {
    width: 100%;
  }
  .installation-a {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
  }
  .installation-photos {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
  }
  .img-container {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    overflow: auto;
  }
}

ul.installation-ul {
  margin-left: 0px;
  margin-right: 0px;
}

li.installation-li {
  margin: 0px 0px 0px 0px;
}

table.style1,
table.style1 th,
table.style1 td {
  margin-left: 350px;
}

table.style2,
table.style2 th,
table.style2 td {
  border: 1px solid black;
  margin-left: 350px;
  background-color: #f8edeb;
}

#grad1 {
  background-image: linear-gradient(to bottom right, #fcd5ce, #fff8c2);
}
