html,
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Extra large devices (large desktops, 1200px and up) */
@media (max-width: 1200px) {
  p {
    text-align: justify;
    margin-left: auto;
    margin-right: auto;
  }
  .h1-main {
    text-align: justify;
    margin-left: auto;
    margin-right: auto;
  }
}

/* Large devices (desktops, 992px and up) */
@media (max-width: 992px) {
  p {
    text-align: justify;
    margin-left: auto;
    margin-right: auto;
  }
  .h1-main {
    text-align: justify;
    margin-left: auto;
    margin-right: auto;
  }
}
/* Medium devices (tablets, 768px and up) */
@media screen and (max-width: 768px) {
  p {
    text-align: justify;
    margin-left: auto;
    margin-right: auto;
  }
  .h1-main {
    text-align: justify;
    margin-left: auto;
    margin-right: auto;
  }
    #grid {
    display: grid;
    margin-left: 20px;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-column-gap: 100px;
  }
}

h1 {
  text-align: left;
  margin: 100px 0px 0px 300px;
  color: #003d52;
}

h2 {
  text-align: left;
  margin: 0px 0px 0px 300px;
  color: #003d52;
}

h3 {
  margin-left: 300px;
  margin-right: 300px;
  color: #003d52;
}

ul.installation-ul {
  margin-left: 300px;
  margin-right: 50px;
}

li.installation-li {
  margin: 0px 300px 0px 30px;
}

ol {
  margin: 10px 50px 0px 350px;
}

.installation-a {
  margin-left: 200px;
  margin-right: 200px;
}

.timeline-container {
  display: flex;
}

table.style1,
table.style1 th,
table.style1 td {
  margin-left: 350px;
}

table.style2,
table.style2 th,
table.style2 td {
  border: 1px solid black;
  margin-left: 350px;
  background-color: #f8edeb;
}

#grad1 {
  background-image: linear-gradient(to bottom right, #fcd5ce, #fff8c2);
}

.installation-photos {
  display: flex;
  flex-wrap: wrap;
  margin: 10px 250px 0px 250px;
}

.four-img-container {
  display: flex;
  margin: 10px 400px 0px 300px;
}

.img-container {
  display: flex;
  margin: 10px 300px 0px 300px;
}

/* --------------------- Main Project CSS --------------------- */

.h1-main,
.h2-main,
.h3-main {
  text-align: left;
  margin: 0px 200px 0px 200px;
  color: #003d52;
}

.ul.main,
.li-main {
  text-align: left;
  margin: 0px 200px 0px 220px;
}
