html,
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Extra large devices (large desktops, 1200px and up) */
@media screen and (min-width: 1200px) {
  .background-container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  p {
    text-align: justify;
    margin-left: 30px;
    margin-right: auto;
  }

  h1,
  h2 {
    font-family: "RozhaOne";
    margin-left: auto;
    margin-right: auto;
  }
  ul,
  ol {
    text-align: left;
    margin: 0px 200px 0px 220px;
  }
}

/* Large devices (desktops, 992px and up) */
@media screen and (min-width: 992px) {
  .background-container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  h1 {
    font-family: "RozhaOne";
    margin-left: 200px;
    margin-right: auto;
  }
  p {
    text-align: justify;
    margin-left: 200px;
    margin-right: 200px;
  } 
  ul,
  ol {
    text-align: left;
    margin-left: 200px;
    margin-right: 200px;
  }
}

/* Medium devices (tablets, 768px and up) */
@media screen and (min-width: 390px) and (max-width: 768px) {
  .background-container {
    width: 100%;
  }
  p {
    text-align: justify;
    margin-left: auto;
    margin-right: auto;
  }
  h1, h2 {
    font-family: "RozhaOne";
    margin-left: auto;
    margin-right: auto;
  }
  ul,
  ol {
    text-align: left;
    margin-left: 50px;
  }
}

h1.title {
  font-family: "RozhaOne";
  margin: 0px 0px 0px 0px;
  padding: 200px;
  background-color: #f6bead;
  text-align: center;
  font-size: 40px;
}

h1,
h2,
h3 {
  font-family: "RozhaOne";
}

/* ul, ol {
  margin: 0px 200px 0px 200px;
} */

.background-container {
  background-color: #f6bead;
}

.img-container {
  display: flex;
  margin: 10px 50px 0px 50px;
}
