html,
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .background-container {
    width: 65%;
    margin-left: auto;
    margin-right: auto;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .background-container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
}
/* Medium devices (tablets, 768px and up) */
@media screen and (min-width: 768px) {
  .background-container {
    width: 100%;
  }
}

h1.title {
  font-family: "RozhaOne";
  margin: 0px 0px 0px 0px;
  padding: 200px;
  background-color: #f6bead;
  text-align: center;
  font-size: 40px;
}

h1,
h2,
h3 {
  font-family: "RozhaOne";
  text-align: left;
  margin: 0px 200px 0px 200px;
}

ul,
ol {
  text-align: left;
  margin: 0px 200px 0px 220px;
}

.background-container {
  background-color: #f6bead;
}

.img-container {
  display: flex;
  margin: 10px 50px 0px 50px;
}
