html,
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Extra large devices (large desktops, 1200px and up) */
@media screen and (min-width: 1200px) {
  .background-container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  h1.title {
    font-family: "RozhaOne";
    margin: auto;
    padding: 200px;
    background-color: #f6bead;
    text-align: center;
    font-size: 40px;
  }
  p {
    text-align: justify;
    margin-left: 30px;
    margin-right: auto;
  }

  h1,
  h2,
  h3 {
    font-family: "RozhaOne";
    margin-left: auto;
    margin-right: auto;
  }
  ul,
  ol {
    text-align: left;
    margin: 0px 200px 0px 240px;
  }
}

/* Large devices (desktops, 992px and up) */
@media screen and (min-width: 992px) {
  .background-container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  h1.title {
    font-family: "RozhaOne";
    margin: auto;
    padding: 200px;
    background-color: #f6bead;
    text-align: center;
    font-size: 40px;
  }
  h1,
  h2,
  h3 {
    font-family: "RozhaOne";
    margin-left: 200px;
    margin-right: auto;
  }
  p {
    text-align: justify;
    margin: 0px 200px 0px 200px;
  }
  ul,
  ol {
    text-align: left;
    margin: 0px 200px 0px 220px;
  }
}

/* Medium devices (tablets, 768px and up) */
@media screen and (min-width: 390px) and (max-width: 768px) {
  .background-container {
    width: 100%;
  }
  p {
    text-align: justify;
    margin-left: auto;
    margin-right: auto;
  }
  h1.title {
    width: 100%;
    margin: auto;
    padding: 100px;
    background-color: #f6bead;
    font-size: 40px; 
    text-align: center;
  }
  h1,
  h2,
  h3 {
    font-family: "RozhaOne";
    margin-left: auto;
    margin-right: auto;
  }
  ul,
  ol {
    text-align: left;
    margin-left: 50px;
  }
#grid {
  display: grid;
  margin: auto;
  grid-template-columns: auto;
  grid-template-rows: auto;
  grid-column-gap: 100px;
  gap: 10px;
}

}

.background-container {
  background-color: #f6bead;
}

.img-container {
  display: flex;
  margin: 10px 50px 0px 50px;
}
